services:
  mysql:
    restart: always
    image: mariadb:11.8
    command: ['mariadbd','--character-set-server=utf8mb4']
    volumes:
    - databasevolume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
  redis:
    restart: always
    image: redis:7-alpine
    command: redis-server --appendonly yes
    volumes:
    - redisvolume:/data
  openemr:
    restart: always
    image: openemr-binary:test
    ports:
    - "8090:80"
    - "8444:443"
    volumes:
    - logvolume01:/var/log
    - sitevolume:/var/www/localhost/htdocs/openemr/sites
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASS: root
      MYSQL_USER: openemr
      MYSQL_PASS: openemr
      OE_USER: admin
      OE_PASS: pass
      REDIS_SERVER: redis:6379
    depends_on:
    - mysql
    - redis
volumes:
  logvolume01: {}
  sitevolume: {}
  databasevolume: {}
  redisvolume: {}

