services:
  mysql:
    restart: always
    image: mariadb:11.8
    command: ['mariadbd','--character-set-server=utf8mb4']
    volumes:
    - databasevolume:/var/lib/mysql
    - databasebackupvolume:/opt/mysqlbak/host
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test:
      - CMD
      - /usr/local/bin/healthcheck.sh
      - --su-mysql
      - --connect
      - --innodb_initialized
      start_period: 1m
      start_interval: 10s
      interval: 1m
      timeout: 5s
  openemr:
    restart: always
    image: openemr/openemr:7.0.4
    ports:
    - 80:80
    - 443:443
    volumes:
    - logvolume01:/var/log
    - sitevolume:/var/www/localhost/htdocs/openemr/sites
    environment:
      MYSQL_HOST: mysql
      MYSQL_ROOT_PASS: root
      MYSQL_USER: openemr
      MYSQL_PASS: openemr
      OE_USER: admin
      OE_PASS: pass
      OPENEMR_DOCKER_ENV_TAG: appliance
    healthcheck:
      test: '[ "$(curl -s -w "%{http_code}" http://localhost/)" -eq 302 ]'
      start_period: 3m
      start_interval: 10s
      interval: 1m
      timeout: 5s
    depends_on:
      mysql:
        condition: service_healthy
        restart: true
    links:
    - mysql
volumes:
  logvolume01: {}
  sitevolume:
    driver_opts:
      type: none
      device: /opt/appliance/backups/in/site
      o: bind
  databasevolume: {}
  databasebackupvolume:
    driver_opts:
      type: none
      device: /opt/appliance/backups/in/mysql
      o: bind
