name: Development 8.0.0 Docker Nightly Build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:
    # Only run from master branch on the main repository
    if: github.repository_owner == 'openemr' && github.repository == 'openemr/openemr-devops' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-22.04
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get build date
        id: build_date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - name: Build and push 8.0.0 docker
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:docker/openemr/8.0.0"
          tags: openemr/openemr:8.0.0, openemr/openemr:dev, openemr/openemr:next
          platforms: linux/amd64,linux/arm64
          push: true
          no-cache: true
